# EditorConfig is awesome!

# Mark this as the root editorconfig file
root = true

# Base ruleset for all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 88

# Override rules for markdown
[*.md]
trim_trailing_whitespace = false

# Override rules for yaml
[*.{yml,yaml}]
indent_size = 2

# Override rules for JSON
[*.json]
indent_size = 2

# Override rules for HTML
[*.html]
indent_size = 2

# Override rules for JavaScript/TypeScript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# Override rules for makefile
[Makefile]
indent_style = tab
