[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
openai = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
