-i https://pypi.org/simple
asgiref==3.7.2 ; python_version >= '3.7'
django==4.2.1
django-extensions==3.2.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
pillow==9.5.0
pyjwt==2.7.0 ; python_version >= '3.7'
pytz==2023.3
sqlparse==0.4.4 ; python_version >= '3.5'
typing-extensions==4.6.3 ; python_version < '3.11'
